.vs
desafio-4devs/desafio-4devs/obj
desafio-4devs/desafio-4devs/bin
desafio-4devs/desafio-4devs-domain/bin
desafio-4devs/desafio-4devs-domain/obj
desafio-4devs/desafio-4devs-entity/obj
desafio-4devs/desafio-4devs-entity/bin
